.nav {
    height: 80px;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 0px 0px 6px lightgrey;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.logo-img {
    width: 180px;
    position: relative;
    top: 20px;
    left: 154px;
}

#dropdownMenuButton {
    background-color: white;
    color: gray;
    position: relative;
    left: 400px;
    top: 24px;
    border: none;
}

#dropdownMenuButton-2 {
    background-color: white;
    color: gray;
    position: relative;
    left: 442px;
    top: 24px;
    border: none;
}

#btn-3 {
    background-color: #ff214f;
    color: white;
    border-radius: 10px;
    position: relative;
    left: 500px;
    width: 204px;
    border: none;
    height: 38px;
    top: 20px;
}

#btn-3:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    border: 2px solid #ff214f;
}

.search-logo {
    font-size: larger;
    position: relative;
    left: 530px;
    top: 26px;
}

.bag-logo {
    font-size: larger;
    position: relative;
    left: 565px;
    top: 26px;
}